<div class="container">
    <div class="heading">
        <div>
            <h1>{{data.name}}</h1>
        </div>
        <div><button mat-button color="primary">Book now</button></div>
    </div>
    <h3>
        Day 1:<br>
        Arrival in city, India's capital city. Transfer to a hotel in Delhi. Explore local attractions in Delhi such as Red Fort, Jama Masjid, and Chandni Chowk. Overnight stay in Delhi. <br><br>

        Day 2:<br>
        Early morning departure from Delhi to Agra. Visit the Taj Mahal, one of the Seven Wonders of the World. Explore the Agra Fort, a UNESCO World Heritage Site. Visit the Tomb of Itimad-ud-Daulah, also known as the "Baby Taj." Overnight stay in Agra.<br><br>

        Day 3:<br>
        Optional sunrise visit to the Taj Mahal for a different experience. Drive back to Delhi. Explore more of Delhi's attractions, such as Qutub Minar, Humayun's Tomb, and India Gate. Enjoy shopping for souvenirs at local markets. Overnight stay in Delhi.<br><br>

        Day 4:<br>
        Departure from Delhi. End of the Taj Mahal tour. Please note that this is just a sample itinerary and can be customized based on your preferences and available time. It's also recommended to check the local weather and plan accordingly.<br><br>
    </h3>
    <!-- <div>
        <button mat-button color="primary">Book now</button>
    </div> -->
</div>



