<div class="container">
    <div class="header">
        <div class="logo-content">
            <div><img class="logo-img pointer" src="assets\Images\logo.png" alt=""></div>
                <!-- <mat-label>TICK-O</mat-label> -->
        </div>
        <div class="horizontal-mat-list-item">
            <mat-label (click)="scroll(home)" class="pointer">Home</mat-label>
            <mat-label (click)="scroll(india)" class="pointer">India</mat-label>
            <mat-label (click)="scroll(international)" class="pointer">International</mat-label>
            <mat-label (click)="scroll(registration)" id="registration" class="pointer">Registration</mat-label>
            <mat-label (click)="scroll(contact)" class="pointer">Contact</mat-label>
            <!-- <button mat-button color="primary">Register</button>
            <button mat-button color="primary">Sign in</button> -->
        </div>
    </div>

    <section class="home-content" #home>
        <!-- short description of company -->
        <h1 class="text-primary center">Are you ready to Explore?</h1>
        <p class="text-para center">Welcome to TICK-O, your gateway to exploring the world and creating lifelong memories. Discover hidden gems, delve into local cuisines, embark on thrilling adventures, or simply unwind in serene retreats - the possibilities are endless. With our carefully curated itineraries, expert travel tips, and seamless booking services, we strive to make your travel dreams a reality. So pack your bags, Welcome to a world of exploration, discovery, and unforgettable experiences.</p> <br><br> <h2>Welcome to our travel community!</h2>
        <img src="assets\Images\logo.png" style="width: 300px; height: 230px  px;" alt="">
    </section>

    <!-- registration -->
    <div class="reg-form" #registration>
        <!-- Registration Form -->
        <form class="form-content">
            <!-- form header -->
            <h1 class="text-primary white center">Register Now!</h1>
            <!-- form body -->
            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Enter your Name</mat-label>
                <input matInput type="text">
            </mat-form-field><br>

            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Contact No</mat-label>
                <input class="white" matInput type="number">
            </mat-form-field><br>

            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Enter your Email</mat-label>
                <input class="white" matInput type="text">
            </mat-form-field><br>

            <mat-form-field class="form-field" appearance="fill">
                <mat-label>Password</mat-label>
                <input class="white" matInput type="password">
            </mat-form-field>
            
            <br>
            <!-- submit button -->
            <button (click)="openSnackBar()" class="button">Submit</button>
        </form>
    </div>

    <div #india>
        <h1 class="india-content white">Explore India</h1>
        <div class="grid-box">
            <div class="box" *ngFor="let item of jsonData" (click)="openDetails(item)">
              <img [src]="item.imageUrl" alt="Image" style="width: 450px; height: 300px;">
              <h3>{{ item.name }}</h3>
                <p> {{ item.detail }} </p>
            </div>
        </div>
    </div>

    <img class="quote-img" src="assets\Images\quote.png" alt="">

    <div #international>
        <h1 class="india-content white">Explore International</h1>
        <div class="grid-box">
            <div class="box" *ngFor="let item1 of jsonData2" (click)="openDetails(item1)">
                <img [src]="item1.imageUrl1" alt="Image" style="width: 450px; height: 300px;">
                <h3>{{ item1.name1 }}</h3>
                  <p> {{ item1.intDetail }} </p>
            </div>
        </div>
    </div>

    <div #contact class="footer-content">
         <div class="center footer-cancel">
             <!-- about section -->
             <ul id="about" class="footer-item">
                <ul class="logo">
                    <img class="logo-img" src="assets\Images\logo.png" alt="TICK-O">
                    <!-- <h3 class="white">TICK-O</h3> -->
                </ul>
                <p class="white">Cancellation policy</p>
                <p class="white">Ticket has a flexible cancellation policy.
                 If you cancel or change your Monument/Museums up to 3 days before the visit,<br> you are eligible for a free refund.
                </p>
                     </ul>
         </div>
        <div>
            <!-- contact us section -->
            <ul id="contact" class="footer-item center">
                <h2 class="white">Contact Us</h2>
                <div class="white">
                    <!-- icon -->
                    <i class="fa fa-map-marker"></i>
                    <p class="text-para"> TICK-O, Chennai, Tamilnadu</p>
                </div>
                <div class="white">
                    <!-- icon -->
                    <i class="fa fa-envelope"></i>
                    <p class="text-para">ticko.info@gmail.com</p>
                </div>
            </ul>
        </div>
        <div>
             <!-- copyright section -->
             <ul class="footer-item " id="copyright">
                <p class="white">2023 &copy; TICK-O, all rights reserved </p>
            </ul>
        </div>
    </div>
</div>
